.App {
    text-align: center;
}

.App-logo {
  width: 80px;
}

.App-header {
    align-items: center;
    background-color: var(--bold-text-color);
    color: white;
    display: flex;
    height: 150px;
    justify-content: center;
    padding: 20px;
}

.App-title {
    font-size: 1.5em;
    letter-spacing: 2px;
    margin: 15px;
}

.sort-by-container {
    font-size: 1.2em;
    font-weight: lighter;
    margin: 50px;
}

.listings-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 50px 0;
}

.App-footer {
    margin-bottom: 50px;
}

.back-to-top {
    cursor: pointer;
    display: inline-block;
}

.back-to-top:hover {
    text-decoration: underline;
}